.row {
  display: flex;
}


.column img {
  width: 100%;
}

.page{
  background-color:#2b2b2b;
  overflow:hidden;
  font-family: Arial;
  margin-left: 10px;
  margin-right: 10px;	 
}


.cols{
  flex: 30%;
  max-width: 50%;
  padding: 0 4px;
  margin-left: 70px; 
  margin-right: 70px; 
   
}